<ion-header>
    <ion-toolbar>
        <ion-title>
            To Do List
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="insert()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-virtual-scroll [items]="items" approxItemHeight="320px">
            <ion-card *virtualItem="let item; let itemBounds = bounds;">

                <ion-card-header>
                    <ion-card-title>{{ item.fristName }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    city: {{ item.city }} country: {{ item.country }} gender: {{ item.gender }}
                    <ion-icon name="create" class="icon" (click)='update($event, item.index )'></ion-icon>
                    <ion-icon name="close" class="icon" (click)='delete($event, item.index  )'></ion-icon>
                </ion-card-content>
            </ion-card>
        </ion-virtual-scroll>
    </div>
</ion-content>